.middle{
    width: 70%;
    margin: auto;

}
.container{
    margin: 40px;
    max-width: 90%;

}
.middle input{
    width: 70%;
    padding: 10px;
    font-size: 20px;
}

.middle button{
    width: 25%;
    padding: 10px;
    background-color: rgb(255, 0, 255);
    font-size: 20px;

}

#allMeals{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 45px;
    margin-top: 15%;

}

.allItem img{
    display: block;
    width: 100%;
}

.items{
    text-align: center;
}

#ingredient{
  margin-top: 10%;
  max-width: 50%;
  font-size: 30px;
}

.allItem{
    box-shadow: 10px 10px 8px gray;
    border-radius: 10px;
}




